[Unit]
Description=ysunlight service

[Service]
ExecStart=/bin/bash %h/.local/bin/ysunlight
Restart=on-failure
RestartSec=10
After=network-online.target

[Install]
WantedBy=default.target
