[Unit]
Description=ysunlight service
After=network-online.target

[Service]
ExecStart=/bin/bash %h/.local/bin/ysunlight
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
